@use "~@angular/material" as mat;
@import './theming.scss';


$primary-color: mat.get-color-from-palette($my-primary, 500);
$primary-light-color: mat.get-color-from-palette($my-primary, 100);

$accent-color: mat.get-color-from-palette($my-accent, 500);
$accent-light-color: mat.get-color-from-palette($my-accent, 50);
