@import './../../../assets/scss/colors';
@import './../../../assets/scss/shared/blur-background';

:host {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;

    main {
        mat-stepper {
            background-color: transparent;
            position: fixed;
            top: 50%;
            transform: translate(0, -50%);
            left: 0;
            z-index: 100;
            user-select: none;
        }

        ::ng-deep mat-step-header {
            border-radius: 5rem;
        }

        > section {
            width: 100%;
            height: 100vh;
            display: grid;
            color: white;
            z-index: 1;
            position: relative;
            grid-template-columns: 18rem 1fr;
            grid-template-rows: repeat(5, 1fr);

            nav.sub-forums {
                list-style: none;
                margin: 0;
                padding: 0 1rem 0 0;
                display: grid;
                grid-column: 2;
                grid-row: 2 / 5;
                grid-template-columns: 1fr 1fr;
                border-radius: 5rem;
                overflow: hidden;
                position: relative;

                a {
                    padding: 1rem;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    text-align: center;
                    white-space: unset;
                    line-height: normal;
                    border-radius: 5rem;

                    &.expand-sub-forum {
                        grid-row: auto / span 2;
                    }
                }
            }

            div.forum-background {
                display: block;
                position: absolute;
                height: 100vh;
                top: 0;
                left: 0;
                right: 0;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: bottom;
                z-index: -1;
                @include blur-background;
            }
        }
    }
}
