<header>
    <nav>
        <img [src]="assetsUrl + 'logo/heroes-of-olympus-small.png'" alt="Heroes of Olympus - Logo">

        <app-search class="me-auto"></app-search>

        <div>
            <a mat-icon-button [routerLink]="['']" routerLinkActive="active" matTooltip="Início">
                <mat-icon>home</mat-icon>
            </a>
            <a mat-icon-button matTooltip="Membros">
                <mat-icon>person_search</mat-icon>
            </a>
            <a mat-icon-button matTooltip="Chat">
                <mat-icon>chat</mat-icon>
            </a>
        </div>

        <button mat-icon-button matTooltip="Scroll fim da página" class="ms-auto">
            <mat-icon>expand_more</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Scroll topo da página">
            <mat-icon>expand_less</mat-icon>
        </button>

        <button mat-icon-button matTooltip="Notificações">
            <mat-icon>notifications</mat-icon>
        </button>

        <img src="https://2img.net/u/2914/23/82/20/avatars/677-77.jpg" alt="Mumvock" matTooltip="Conta">
    </nav>
</header>
