<header>
    <nav>
        <img src="./../../../../assets/images/logo/heroes-of-olympus-small.png" alt="Heroes of Olympus - Logo">

        <app-search class="me-auto"></app-search>

        <a mat-button [routerLink]="['']" routerLinkActive="active">Início</a>
        <a mat-button>Membros</a>
        <a mat-button>Chatbox</a>

        <button mat-icon-button title="Scroll fim da página" class="ms-auto">
            <mat-icon>expand_more</mat-icon>
        </button>

        <button mat-icon-button title="Scroll topo da página">
            <mat-icon>expand_less</mat-icon>
        </button>

        <img src="https://2img.net/u/2914/23/82/20/avatars/677-77.jpg" alt="Mumvock">
    </nav>
</header>
