@import './../../../../assets/scss/colors';

:host {
    nav {
        background-color: $primary-color;
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
        border-bottom: 4px solid #CFE6F1;
        color: white;
        display: flex;
        flex-wrap: nowrap;
        padding: 0 1rem;

        a, button {
            margin: .5rem 0 .5rem .5rem;

            &:hover {
                color: unset;
            }
        }

        img {
            border-radius: 50%;
            height: 2.5rem;
            width: 2.5rem;
            margin-top: .5rem;
            margin-bottom: .5rem;

            &:first-of-type {
                margin-right: .5rem;
            }

            &:last-of-type {
                object-fit: cover;
                margin-left: .5rem;
            }
        }
    }
}
