@import './../../../../../../assets/scss/colors';
@import './../../../../../../assets/scss/variables';

:host {
    display: flex;

    form {
        align-items: center;
        display: flex;
        position: relative;

        input {
            border: 0;
            border-radius: 2.5rem;
            height: 2.5rem;
            opacity: .1;
            outline: none;
            transition: width $transition-time $transition-type,
                        opacity $transition-time $transition-type;
            width: 2.5rem;

            &::placeholder {
                color: transparent;
                transition: color $transition-time $transition-type;
            }

            &:focus {
                padding: 1rem 3rem 1rem 1rem;
                opacity: 1;
                width: 16vw;

                &::placeholder {
                    color: black;
                }

                &+ mat-icon {
                    color: $primary-color;
                }
            }
        }

        mat-icon {
            pointer-events: none;
            position: absolute;
            right: .5rem;
            transition: color $transition-time $transition-type;
        }
    }
}

